@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box
}


.testimoniosSection {
  position: relative;
  text-align: center;
  padding: 80px 20px;
  background-color: #f8f8f8;
  background-color: #141e2e;

  h2{
    font-size: 3.5rem;
    color: #f8f8f8;
  }


  .testimonioCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin: 40px auto;
    position: relative;
  }

  .testimonioContenido {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    display: grid;
    justify-items: center; /* centra horizontalmente */
  align-items: start; 

    .Icono_Estrellas{
      margin: auto;
      padding: 0;
      position: absolute;
      width: 300px;
      top: -40px;
    }
  }

  .testimonioContenido p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
    line-height: 2rem;
  }

  .testimonioContenido h4 {
    font-size: 1.4rem;
    color: #181818;
    font-weight: 700;
  }

  .flecha {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;

    img{
      width: 60px;
    }
  }

  .flecha:hover {
    color: #c59858; 
  }

}