@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.porque {
  background-color: #990707;
  padding: 4rem 2rem;
  height: auto;
  min-height: 30vh;
  background: linear-gradient(rgba(23, 28, 44, 0.76), rgba(25, 31, 61, 0.678)), url(../Imagenes/Img/Home_Imagen2.jpg);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
}

.contenedor {
  text-align: center;
}

.texto {
  color: rgb(255, 255, 255);
}

.texto h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.texto p {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

.texto {
  text-align: center;
}
.texto p ul li {
  display: flex; 
  align-items: center;
  margin-bottom: 0.5em;
  text-decoration: none;
}
.texto p ul li img {
  width: 2em; 
  height: 2em;
  margin-right: 10px; 
  -o-object-fit: contain;
     object-fit: contain; 
  flex-shrink: 0;
}
/* Responsive */

@media (max-width: 768px) {
  .porque {
    padding: 3rem 1rem;
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
  }

  .texto h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .texto p {
    font-size: 1.2rem;
    text-align: left;
  }

  .texto p ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .texto p ul li {
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  .texto p ul li img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    flex-shrink: 0;
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .porque {
    padding: 2rem 0.5rem;
  }

  .texto h2 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .texto p ul li img {
    width: 1.2em;
    height: 1.2em;
  }
}