@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.sobreAngela {
  background: linear-gradient(to bottom, #141e2e 0%, #141e2e 85%, #f2f4f4 100%);
  padding-bottom: 8rem;
}

.contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 4rem;
  width: 90%;
  margin: auto;
}

.imagen {
  flex: 1;
  text-align: center;
}

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.texto {
  flex: 1 1 400px;
  color: #ffffff;
  text-align: left;
}

.texto h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3.5rem;
}

.texto h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #c59668;
  margin: 0;
  margin-bottom: 2rem;
}

.texto span {
  color: #c2865a;
}

.texto p {
  margin-top: 20px;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3.5rem;
}

.boton {
  margin-top: 25px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px 30px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #141e2e;
  text-decoration: none;
  display: inline-block;
}

.boton:hover {
  background-color: #c2865a;
  border-color: #c2865a;
}

/* Responsive */

@media (max-width: 768px) {
  .sobreAngela {
    padding-bottom: 3rem;
  }

  .contenedor {
    flex-direction: column;
    padding-top: 3rem;
    width: 95%;
  }

  .imagen {
    width: 100%;
  }

  .imagen img {
    max-width: 90%;
  }

  .texto {
    text-align: center;
  }

  .texto h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .texto p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .boton {
    font-size: 1.1rem;
    padding: 15px 25px;
  }
}

@media (max-width: 480px) {
  .sobreAngela {
    padding-bottom: 2rem;
  }

  .contenedor {
    width: 100%;
    padding-top: 2rem;
  }

  .texto h2 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .boton {
    font-size: 1rem;
    padding: 12px 20px;
    width: 100%;
    max-width: 250px;
  }
}