@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Franja superior */
.topBar {
  display: flex;
  justify-content: flex-end; 
  padding: 6px 25px;
  border-bottom: 1px solid #eee;
}

.socials {
  display: flex;
  gap: 15px;
  min-width: 200px;
  place-content: end;
  padding-right: 20px;
}

.icon {
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
}

.icon:hover {
  color: #0077b6;
}

/* Navbar principal */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

.logo {
  //width: 130px;
  //height: 45px;
  //background-color: #ddd; /* espacio para el logo */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 200px;
  
  img{
    width: 200px;
  }
}


.nav {
  display: flex;
  gap: 8rem;
  align-items: stretch;

  a{
    font-size: 1.2rem;
    font-weight: bold;
    background-image: linear-gradient(  #c59668,   #c59668) !important; 
    background-position: 50% 100%;     
    background-repeat: no-repeat;
    background-size: 0% 2px;         
    transition: background-size 0.6s ease;
    }

    a:hover {
    background-size: 100% 2px;       

    }

    #orlando{
      background-color: #c59668;
    }
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.link:hover {
  color: #c59668 !important;
}
