@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacto {
  width: 100%;
  background-color: #f2f4f4;
  overflow-x: hidden;
  padding-top: 4rem; 
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
}

.contacto h1 {
  font-size: 2rem;
  color: #0a1944;
  margin-bottom: 1rem;
  text-align: center;
}

.contacto > .container > p {
  font-size: 1rem;
  color: #0a1944;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.info {
  width: 100%;
  text-align: center;
}

.info h2 {
  font-size: 1.8rem;
  color: #0a1944;
  margin-bottom: 1rem;
}

.info p {
  font-size: 1rem;
  color: #0a1944;
  margin: 0.5rem 0;
  font-weight: 500;
}

@media (min-width: 769px) {
  .container {
    padding: 4rem 2rem;
  }

  .contacto h1 {
    font-size: 2.5rem;
  }

  .contacto > .container > p {
    font-size: 1.2rem;
  }

  .formContainer {
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
  }

  .info {
    flex: 1;
    text-align: left;
  }

  .info h2 {
    font-size: 2.5rem;
  }

  .info p {
    font-size: 1.1rem;
  }
}